---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import ShowcaseCard from "@components/ShowcaseCard";
import Card from "@components/Card";
import getSortedPosts from "@utils/getSortedPosts";
import slugify from "@utils/slugify";
import Hero from "@components/Hero.astro";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredProjects = sortedPosts.filter(
  ({ data }) => data.featured && data.project
);
---

<Layout>
  <Header />
  <main id="main-content">
    <Hero />

    <section id="hero">
      <h1>Projects</h1>
      <a
        target="_blank"
        href="/rss.xml"
        class="rss-link"
        aria-label="rss feed"
        title="RSS Feed"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 448 512"
          class="rss-icon"
          ><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
          <path
            d="M439.55 236.05L244 40.45a28.87 28.87 0 0 0-40.81 0l-40.66 40.63 51.52 51.52c27.06-9.14 52.68 16.77 43.39 43.68l49.66 49.66c34.23-11.8 61.18 31 35.47 56.69-26.49 26.49-70.21-2.87-56-37.34L240.22 199v121.85c25.3 12.54 22.26 41.85 9.08 55a34.34 34.34 0 0 1-48.55 0c-17.57-17.6-11.07-46.91 11.25-56v-123c-20.8-8.51-24.6-30.74-18.64-45L142.57 101 8.45 235.14a28.86 28.86 0 0 0 0 40.81l195.61 195.6a28.86 28.86 0 0 0 40.8 0l194.69-194.69a28.86 28.86 0 0 0 0-40.81z"
          ></path></svg
        >
      </a>

      <p>The following are a collection of Open Source projects I've led.</p>
    </section>
    <Hr />
    {
      featuredProjects.length > 0 && (
        <>
          <section id="featured">
            <h2>Featured Projects</h2>
            <ul>
              {featuredProjects.map(({ data }) => (
                <ShowcaseCard
                  href={`/posts/${slugify(data)}`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
            <div class="all-posts-btn-wrapper">
              <LinkButton href="/projects">
                All Projects
                <svg xmlns="http://www.w3.org/2000/svg">
                  <path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z" />
                </svg>
              </LinkButton>
            </div>
            <Hr />
          </section>
        </>
      )
    }

    <section id="hero">
      <h1>Posts</h1>
      <a
        target="_blank"
        href="/rss.xml"
        class="rss-link"
        aria-label="rss feed"
        title="RSS Feed"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="rss-icon"
          ><path
            d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z"
          ></path><path
            d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z"
          ></path><circle cx="6" cy="18" r="2"></circle>
        </svg>
      </a>

      <p>
        The following posts document my life as a Software Engineer. I write
        about my experiences, learnings, and thoughts on various topics
        including Kubernetes, AI, and Software Engineering.
      </p>
    </section>

    <Hr />

    <section id="recent-posts">
      <h2>Recent Posts</h2>
      <ul>
        {
          sortedPosts.map(
            ({ data }, index) =>
              index < 4 && (
                <Card
                  href={`/posts/${slugify(data)}`}
                  frontmatter={data}
                  secHeading={false}
                />
              )
          )
        }
      </ul>
      <div class="all-posts-btn-wrapper">
        <LinkButton href="/posts">
          All Posts
          <svg xmlns="http://www.w3.org/2000/svg"
            ><path
              d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
            ></path>
          </svg>
        </LinkButton>
      </div>
    </section>
  </main>

  <Footer />

  <style>
    /* ===== Hero Section ===== */
    #hero {
      @apply pb-6 pt-4;
    }
    #hero h1 {
      @apply my-4 inline-block text-3xl font-bold sm:my-4 sm:text-5xl;
    }
    #hero .rss-link {
      @apply mb-6;
    }
    #hero .rss-icon {
      @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
    }
    #hero p {
      @apply my-2;
    }
    .social-wrapper {
      @apply mt-4 flex flex-col sm:flex-row sm:items-center;
    }
    .social-links {
      @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
    }

    /* ===== Featured & Recent Posts Sections ===== */
    #featured,
    #recent-posts {
      @apply pb-6 pt-12;
    }
    #featured h2,
    #recent-posts h2 {
      @apply text-2xl font-semibold tracking-wide;
    }
    .all-posts-btn-wrapper {
      @apply my-8 text-center;
    }
    .link-button {
      @apply hover:rotate-6 sm:p-1;
    }
  </style>
</Layout>
